{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}

<main>
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">

        <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'top_page'%}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">会員情報</li>
          </ol>
        </nav>

        <h1 class="mb-3 text-center">会員情報</h1>
        <div class="d-flex justify-content-end align-items-end mb-3">
          <div><a href="{% url 'user_update' object.id %}">編集する</a></div>
        </div>

        <div class="row pb-2 mb-2 border-bottom">
          <div class="col-3">
            <span class="fw-bold">会員種別</span>
          </div>
          <div class="col">
            <span>{{ object.get_account_type_display }}</span>
          </div>
        </div>

        <div class="row pb-2 mb-2 border-bottom">
          <div class="col-3">
            <span class="fw-bold">ユーザー名</span>
          </div>
          <div class="col">
            <span>{{ object.user_name }}</span>
          </div>
        </div>

        <div class="row pb-2 mb-2 border-bottom">
          <div class="col-3">
            <span class="fw-bold">氏名</span>
          </div>
          <div class="col">
            <span>{{ object.username }}</span>
          </div>
        </div>

        <div class="row pb-2 mb-2 border-bottom">
          <div class="col-3">
            <span class="fw-bold">メールアドレス</span>
          </div>
          <div class="col">
            <span>{{ object.email }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}