{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
<main>

  <div class="container pt-4 pb-5 nagoyameshi-container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <h1 class="mb-4 text-center">新規会員登録</h1>
        <hr class="mb-4">
        <form method="post" action="{% url 'account_signup' %}" autocomplete="off">
          {% csrf_token %}

          <div class="form-group row mb-3">
            <label for="name" class="col-md-5 col-form-labeltext-md-left fw-bold">
              <div class="d-flex align-items-center">
                <span class="me-1">会員種別</span>
                <span class="badge bg-danger">必須</span>
              </div>
            </label>
            <div class="col-md-7">
              {{ form.account_type }}
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="name" class="col-md-5 col-form-labeltext-md-left fw-bold">
              <div class="d-flex align-items-center">
                <span class="me-1">ユーザー名</span>
                <span class="badge bg-danger">必須</span>
              </div>
            </label>
            <div class="col-md-7">
              {{ form.user_name }}
            </div>
          </div>

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="kana" class="col-md-5 col-form-labeltext-md-left fw-bold"> {% endcomment %}
              {% comment %} <div class="d-flex align-items-center"> {% endcomment %}
                {% comment %} <span class="me-1">フリガナ</span> {% endcomment %}
                {% comment %} <span class="badge bg-danger">必須</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.hurigana }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="postal_code" class="col-md-5col-form-labeltext-md-left fw-bold"> {% endcomment %}
              {% comment %} <div class="d-flex align-items-center"> {% endcomment %}
                {% comment %} <span class="me-1">郵便番号</span> {% endcomment %}
                {% comment %} <span class="badge bg-danger">必須</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.zip_code }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="address" class="col-md-5 col-form-labeltext-md-left fw-bold"> {% endcomment %}
              {% comment %} <div class="d-flex align-items-center"> {% endcomment %}
                {% comment %} <span class="me-1">住所</span> {% endcomment %}
                {% comment %} <span class="badge bg-danger">必須</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.address }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="phone_number" class="col-md-5col-form-label text-md-left fw-bold"> {% endcomment %}
              {% comment %} <div class="d-flex align-items-center"> {% endcomment %}
                {% comment %} <span class="me-1">電話番号</span> {% endcomment %}
                {% comment %} <span class="badge bg-danger">必須</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.phone_number }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="birthday" class="col-md-5col-form-label text-md-left fw-bold">誕生日</label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.birthday }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          {% comment %} <div class="form-group row mb-3"> {% endcomment %}
            {% comment %} <label for="occupation" class="col-md-5col-form-label text-md-left fw-bold">職業</label> {% endcomment %}
            {% comment %} <div class="col-md-7"> {% endcomment %}
              {% comment %} {{ form.job }} {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </div> {% endcomment %}

          <div class="form-group row mb-3">
            <label for="email" class="col-md-5 col-form-labeltext-md-left fw-bold">
              <div class="d-flex align-items-center">
                <span class="me-1">メールアドレス</span>
                <span class="badge bg-danger">必須</span>
              </div>
            </label>
            <div class="col-md-7">
              {{ form.email }}
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="password" class="col-md-5col-form-label text-md-left fw-bold">
              <div class="d-flex align-items-center">
                <span class="me-1">パスワード</span>
                <span class="badge bg-danger">必須</span>
              </div>
            </label>
            <div class="col-md-7">
              {{ form.password1 }}
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="password-confirm" class="col-md-5col-form-label text-md-left fw-bold">
              <div class="d-flex align-items-center">
                <span class="me-1">パスワード（確認用）</span>
                <span class="badge bg-danger">必須</span>
              </div>
            </label>
            <div class="col-md-7">
              {{ form.password2 }}
            </div>
          </div>

          <hr class="my-4">
          <div class="form-group d-flex justify-content-centermb-4">
            <button type="submit" class="btn btn-primarytext-white shadow-sm w-50">登録</button>
          </div>       
        </form>

        <div class="text-center">
          <a href="{% url 'account_login' %}">すでに登録済みの方はこちら</a>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}