{% extends "layout/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{% block content %}
<main>
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10">
        <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'top_page' %}">ホーム</a></li>
            <li class="breadcrumb-item"><a href="{% url 'restaurant_list' %}?keyword=&button_type=keyword">店舗一覧</a></li>
            <li class="breadcrumb-item"><a href="{% url 'restaurant_detail' restaurant.id %}">店舗詳細</a></li>
            <li class="breadcrumb-item active" aria-current="page">予約</li>
          </ol>
        </nav>
        <h1 class="mb-2 text-center">{{ restaurant.shop_name }}</h1>
        <p class="text-center"><span class="star-rating me-1" data-rate="{{ restaurant.rate|rate_star }}"></span>
          {{ restaurant.rate|floatformat:2 }} （{{ restaurant.review_num }}件）
        </p>
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'restaurant_detail' restaurant.id %}">トップ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active bg-primary text-white" aria-current="page" href="{% url 'reservation_create' restaurant.id %}">予約</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark"
            {# TODO:1#}
            href="{% url 'review_list' restaurant.id %}">レビュー</a>
            {% comment %} href="#">レビュー</a> {% endcomment %}
            {# href="{% url 'review_list' restaurant.id %}">レビュー</a>#}
          </li>
        </ul>

        {% comment %} ここからオリジナル対応 {% endcomment %}
        {% comment %} <div class="card-header">ご予約条件</div> {% endcomment %}
        <h3>ご予約条件</h3>
        <div class="card-body">
          <form method="GET" class="w-100">
            <div class="form-group row mb-3">
              <label for="date" class="col-md-5 col-form-label text-md-left fw-bold">予約日</label>
              <div class="col-md-7">
                <input type="date" name="date" id="date" class="form-control" min="{{ tomorrow }}" required
                value="{% if request.GET.date %}{{ request.GET.date }}{% else %}{{ tomorrow }}{% endif %}">
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="time" class="col-md-5 col-form-label text-md-left fw-bold">予約時間</label>
              <div class="col-md-7">
                <select name="time" id="time" class="form-control" required>
                  <option value="{{ default_time }}" selected>{{ default_time }}</option>
                  {% for hour in hours %}
                      <option value="{{ hour }}:00" {% if default_time == hour|stringformat:"02d"|add:":00" %}selected{% endif %}>{{ hour }}:00</option>
                      <option value="{{ hour }}:30" {% if default_time == hour|stringformat:"02d"|add:":30" %}selected{% endif %}>{{ hour }}:30</option>
                  {% endfor %}
              </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="number_of_people" class="col-md-5 col-form-label text-md-left fw-bold">予約人数</label>
              <div class="col-md-7">
                <select name="number_of_people" id="number_of_people" class="form-control" required>
                {% for i in people_range %}
                <option value="{{ i }}" {% if request.GET.number_of_people == i|stringformat:"s" %}selected{% elif not request.GET.number_of_people and i == 2 %}selected{% endif %}>
                  {{ i }}人
                </option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group mb-4" style="text-align: center;">
              <button type="submit" class="btn btn-primary">空きを検索する</button>
            </div>
          </form>

          <!-- 空き座席のテーブル -->
          <hr class="my-2">
          <h3>空き検索の結果</h3>

          <p>予約日：{{ reservation_date }}　時間：{{ reservation_time }}　予約人数：{{ number_of_people }}</p>
          
          {% if available_slots %}
          <p>{{ available_slots.count }}席の空きがあります。</p>
          
          <h3>Step 1. 席を選択してください</h3>
          
          <form method="POST" action="{% url 'reservation_create' pk=restaurant.id %}">
              {% csrf_token %}
              
              <table>
                  <tr>
                      <th style="text-align: center;">座席タイプ</th>
                      <th>　　　</th>
                      <th style="text-align: center;">最少人数</th>
                      <th style="text-align: center;">　　　</th>
                      <th style="text-align: center;">最大人数</th>
                      <th style="text-align: center;">　　　</th>
                      <th style="text-align: center;">滞在可能時間</th>
                      <th style="text-align: center;">　　　</th>
                      <th style="text-align: center;">選択</th>
                  </tr>
                  {% for slot in available_slots %}
                  <tr>
                      <td>{{ slot.dining_table.name_for_internal }}：{{ slot.dining_table.name_for_customer }}</td>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">{{ slot.dining_table.min_people }}名</td>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">{{ slot.dining_table.max_people }}名</td>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">{{ slot.duration_min }}分</td>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">
                          <input type="radio" name="reservation_id" value="{{ slot.id }}" id="slot_{{ slot.id }}" {% if forloop.first %}checked{% endif %}>
                          <label for="slot_{{ slot.id }}">選択</label>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
              <br>
          
              <!-- メニューのテーブル -->
              <h3>Step 2. お食事も選択できます（店舗・時間帯によっては席のみとなります）</h3>
              <table>
                  <tr>
                    <th style="text-align: center;">メニュー名</th>
                      <th>　　　</th>
                      <th style="text-align: center;">内容</th>
                      <th>　　　</th>
                      <th style="text-align: center;">価格</th>
                      <th>　　　</th>
                      <th style="text-align: center;">選択</th>
                  </tr>
                  {% for menu in menus %}
                  <tr>
                      <td>{{ menu.name }}</td>
                      <td></td>
                      <td>{{ menu.description }}</td>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">
                        {% if menu.price %}{{ menu.price }}円{% endif %}
                      </th>
                      <td></td>
                      <th style="text-align: center; font-weight: normal;">
                          <input type="radio" name="menu" value="{{ menu.id }}" id="menu_{{ menu.id }}">
                          <label for="menu_{{ menu.id }}">選択</label>
                      </td>
                  </tr>
                  {% endfor %}
              </table>


              <div class="form-group mb-4" style="text-align: center;">
              {% comment %} <div class="form-group d-flex justify-content-center mb-4"> {% endcomment %}
              <!-- 人数の隠しフィールド -->
                <input type="hidden" name="number_of_people" value="{{ number_of_people }}">
                <br>
                <button type="submit" class="btn btn-primary text-white shadow-sm">上記の内容で予約する</button>
                {% comment %} <button type="submit">以上の内容で予約する</button> {% endcomment %}
              </div>

            </form>
          
      {% else %}
          <p>予約可能な席はありません。</p>
      {% endif %}


    </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block js_script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script>
  const restaurantRegularHolidays = {{ close_day_list }};
  flatpickr('#reservation_date', {
    locale: 'ja',
    minDate: 'today',
    maxDate: new Date().fp_incr(60),
    disable: [
    function (date) {
      return restaurantRegularHolidays.includes(date.getDay());
    }
    ]
  });
</script>
{% endblock %}