{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}
{% load humanize %}
<main>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}  <!-- Add this line for error debugging -->
    
    <div class="mb-3">
      <label for="shop_name" class="form-label">店舗名</label>
      {{ form.shop_name }}
    </div>

    <div class="mb-3">
      <label for="owner_name" class="form-label">店長名</label>
      {{ form.owner_name }}
    </div>

    <div class="mb-3">
      <label for="zip_code" class="form-label">郵便番号</label>
      {{ form.zip_code }}
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">住所</label>
      {{ form.address }}
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">電話番号</label>
      {{ form.phone }}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">HP表示用メールアドレス</label>
      {{ form.email }}
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">カテゴリー</label>
      {{ form.category }}
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">店舗説明</label>
      {{ form.description }}
    </div>
    
    <div class="mb-3">
      <label for="business_time" class="form-label">営業時間</label>
      {{ form.business_time }}
    </div>

    <div class="mb-3">
      <label for="close_day_of_week" class="form-label">定休日</label>
      {{ form.close_day_of_week }}
    </div>

    <div class="mb-3">
      <a href="{% url 'restaurant_list_2' user.id %}">戻る</a>
      <button type="submit" class="btn btn-primary">更新</button>
    </div>
  </form>
</main>
{% endblock %}